{% extends "base.html" %}

{% block content %}

    <form method="post" action="{{ url_for('dashboard') }}" class="mb-4">
        {{ form.hidden_tag() }}
        {{ form.month_year.label }} {{ form.month_year }}
        {{ form.submit() }}
    </form>



    <table class="table">
        <thead>
          <tr>
            <th scope="col">Store</th>
            <th scope="col">Day Score</th>
            <th scope="col">Night Score</th>
            <th scope="col">Online Score</th>
            {%for question in eval2_questions%}
            <th scope="col">{{question.question}} </th>
            {%endfor%}
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
        {% for store in stores %}    
        <tr>
          <th scope="row">{{ store.location }}</th>
          <td>{% if store.id in day_rank %}{{ day_rank[store.id] }}{% else %}—{% endif %}</td>
          <td>{% if store.id in night_rank %}{{night_rank[store.id]}}{%else%}—{%endif%}  </td>
          <td>{% if store.id in online_rank %}{{online_rank[store.id]}}{%else%}—{%endif%}  </td>
          {% for question in eval2_questions %}
          <td>{% if question.id in eval2_rank and store.id in eval2_rank[question.id]%}{{eval2_rank[question.id][store.id]|int}}{%else%}—{%endif%}</td>
          {% endfor %}
          <td>{% if store.id in total_by_store %}{{total_by_store[store.id]}}{%else%}—{%endif%} </td>
        </tr>
        
        {% endfor %}
        </tbody>
      </table>

{% endblock %}

{% block scripts %}
<div class="container">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ labels | safe }},
      datasets: [{
        label: 'Total Score by Store',
        data: {{ values | safe }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}
