{% extends "base.html" %}

{% block content %}

    <form method="post" action="{{ url_for('dashboard') }}" class="mb-4">
        {{ form.hidden_tag() }}
        {{ form.month_year.label }} {{ form.month_year }}
        {{ form.submit() }}
    </form>



    <table class="table">
        <thead>
          <tr>
            <th scope="col">Store</th>
            <th scope="col">Day Score</th>
            <th scope="col">Night Score</th>
            <th scope="col">Online Score</th>
            <th scope="col">Steritech Score</th>
            <th scope="col">Crew Meeting</th>
            <th scope="col">Catering</th>
            <th scope="col">Complaints</th>
            <th scope="col">Compliments</th>
            <th scope="col">U of S Score EOW2</th>
            <th scope="col">U of S Score EOW4</th>
            <th scope="col">Productivity Score</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
        {% for store in stores %}    
        <tr>
          <th scope="row">{{ store.location }}</th>
          <td>{% if store.id in day_rank %}{{ day_rank[store.id] }}{% else %}—{% endif %}</td>
          <td>{% if store.id in night_rank %}{{night_rank[store.id]}}{%else%}—{%endif%}  </td>
          <td>{% if store.id in online_rank %}{{online_rank[store.id]}}{%else%}—{%endif%}  </td>
          {% for question in eval2_questions %}
          <td>{% if question.id in eval2_rank and store.id in eval2_rank[question.id]%}{{eval2_rank[question.id][store.id]}}{%else%}—{%endif%}</td>
          {% endfor %}
        </tr>
        
        {% endfor %}
        </tbody>
      </table>

{% endblock %}
